{{>header}}
<img name="homeImage" id="homeImage" src="images/80.JPG" width = 30%>
<h3>Hey there </h3><h1>{{firstName}} {{lastName}}</h1>
<h3>The state variable is: </h3><h1>{{state}}</h1><h3> Dont worry, I verified it!</h3> 
